:root{
    --accent-color: rgba(172, 0, 0, .74);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway, sans-serif;
    text-decoration: none;
    color: rgba(0, 0, 0, .74);
}

a:hover{
    color: var(--accent-color);
    & > h1{
        color: var(--accent-color);
    
    }
}

/* Main */

#presentation{
    position: relative;
}

.general-container{
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

#presentation-container{
    display: flex;
    justify-content: center;
    align-items: center;
    & > *{
        width: 50%;
    }
}

#presentation-image > img{
    max-width: 460px;
}

#presentation-text{
    height: calc(460px / 3* 2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#presentation-text > *{
    font-weight: 800;
    text-align: center;
}

.separator{
    height: 15vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    & > #separator-line{
        height: 100%;
        background: black;
        flex: 0 auto;
        min-width: 1px;
        max-width: 1%;
    }
    & div:first-child{
        flex: 1;
    }
    & div:last-child{
        flex: 1;
    }
}

.section-container{
    margin-bottom: 15%;
    margin-left: 5%;
    margin-right: 5%;
}

.section{
    display: flex;
    justify-content: center;
}

.section-title{
    padding-right: 30px;
    width: 42%;
}

.section-heading{
    text-transform: uppercase;
    letter-spacing: .1em;
    text-align: right;
    color: var(--accent-color);
    font-size: 1.5em;
}

.section-text{
    width: 58%;
    padding-top: 4px;
    & > p{
        margin-right: 20%;
    }
}

#skill-list-container{
    display: flex;
    & > *:first-child, & > *:last-child{
        width: 25%;
    }
    & > *:nth-child(2){
        width: 50%;
    }
}

.skill-column{
    & > h1{
        font-size: 18px;
        margin-bottom: 15px;
    }
}

#skill-engine-container{
    display: flex;
    & > *{
        width: 50%;
    }
}

.skill-list{
    padding-left: 20px;
    margin-right: 15%;
    font-size: 14px;
    & > li{
        font-weight: 500;
        margin-bottom: 4px;
    }
}

#cv-text-container{
    height: 30%;
    margin-left: 10%;
    margin-right: 10%;
}

#cv-text{
    height: 100%;
    display: flex;
}

#cv > img{
    
}

#text-of-cv{
    font-weight: 600;
    font-size: 16px;
}