<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact - Antonin Laclautre</title>
    <link rel="stylesheet" href="../css/HeaderAndFooter.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5ada44f3ac.js" crossorigin="anonymous"></script>
    <script src="../script/HeaderAndFooter.js"></script>
</head>
<body>
    <div id="page" data="Contact" style="display:none"></div>
    <div id="header"></div>
    <div id="cv-text-container">
        <div id="cv-text">
            <div id="cv">
                <a href="https://drive.google.com/file/d/1dnW_anKa1ghZffNE6Wb2eKgaS0ZKpWoR/view?usp=sharing">
                    <img src="../images/resume censored antonin laclautre.jpg" alt="">
                </a>
            </div>
            <div>
                <p id="text-of-cv">
                    If you would like to contact me about a career opportunity, you can first consult my summary by clicking on the image on the left. Please note that some of my contact details are censored to preserve my privacy.
                </p>
            </div>
        </div>
    </div>
    <div id="footer"></div>
</body>
</html>