<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects - Antonin Laclautre</title>
    <link rel="stylesheet" href="../css/HeaderAndFooter.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5ada44f3ac.js" crossorigin="anonymous"></script>
    <script src="../script/HeaderAndFooter.js"></script>
</head>
<body>
    <div id="page" data="Projects" style="display:none"></div>
    <div id="header"></div>
    <div id="footer"></div>
</body>
</html>